#root {
  max-width: 1024px;
  padding: 1rem;
  margin: auto;
}

fotter {
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
